
@import "node_modules/bootstrap/scss/functions";


$primary: #e91e63;
$secondary: #00bcd4;
$font-family-base: 'Poppins', sans-serif;
$body-bg: #f0f0f0;
$h1: red;


@import "node_modules/bootstrap/scss/variables";


@import "node_modules/bootstrap/scss/maps";


@import "node_modules/bootstrap/scss/bootstrap";